.header {
    height: 80vh;
    width: 90vw; /* Ensure it spans the full viewport width */
    border-radius: 60px; /* Add some border radius */
    /* overflow: hidden; Ensures the image respects border radius */
    margin: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers the image */
    align-items: center; /* Centers the image */
}

.bgimage {
    border-radius: inherit;
    padding: 10px;
    position: relative;
}

.herotext{ 
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
}

.title{ 
    font-size: var(--fs-heading);
    
}

.subtext{ 
    font-size: var(--fs-32);
    
}